body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.user {
  background-color: #fcf0eb;
  padding: 20px;
  margin: 15px;
}

.posts {
  background-color: #ffe4c4;
  padding: 20px;
  margin: 15px;
}